<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
              </div>
              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">Change your password</h4>
                <p>Enter your new password.</p>
                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isSubmitFailed" (close)="isSubmitFailed = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-down mr-2"></i>
                    <span>{{errorMessage}}</span>
                  </div>
                </ngb-alert>
                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isnotsamepasseword" (close)="isnotsamepasseword = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-down mr-2"></i>
                    <span>Password and Confirm Password are not the same </span>
                  </div>
                </ngb-alert>
                <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="ChangePasswordFormSubmitted" (close)="ChangePasswordFormSubmitted = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-up mr-2"></i>
                    <span>{{message}}</span>
                  </div>
                </ngb-alert>
                <form [formGroup]="ChangePasswordForm">
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="New Password"
                           [ngClass]="{ 'is-invalid': ChangePasswordFormSubmitted && lf.password.invalid, 'is-valid': ChangePasswordFormSubmitted && !lf.password.invalid }"
                           required>
                    <div *ngIf="ChangePasswordFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                      required</div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="Confirm_password" class="form-control" placeholder="Confirm Password"
                           [ngClass]="{ 'is-invalid': ChangePasswordFormSubmitted && lf.Confirm_password.invalid, 'is-valid': ChangePasswordFormSubmitted && !lf.Confirm_password.invalid }"
                           required>
                    <div *ngIf="ChangePasswordFormSubmitted && (lf.Confirm_password.invalid || lf.Confirm_password.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is required
                    </div>
                  </div>
                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <a [routerLink]="['/pages/login']" *ngIf="ChangePasswordFormSubmitted" class="btn bg-light-primary mb-2 mb-sm-0">Back To Login</a>
                    <a  class="btn btn-primary" (click)="onSubmit()">Change</a>
                  </div>
                </form>
                <ngx-spinner></ngx-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
