<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="260" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="mb-2 card-title">Recover Password</h4>
                <p class="card-text mb-3">Please enter your email address and we'll send you instructions on how to reset your password.</p>
                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isSubmitFailed" (close)="isSubmitFailed = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-down mr-2"></i>
                    <span>{{errorSubmit}}</span>
                  </div>
                </ngb-alert>
                <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="forogtPasswordFormSubmitted" (close)="forogtPasswordFormSubmitted = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-up mr-2"></i>
                    <span>Nous vous avons envoyé par email le lien de réinitialisation du mot de passe !</span>
                  </div>
                </ngb-alert>
                <form [formGroup]="forogtPasswordForm">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="email"
                           [ngClass]="{ 'is-invalid': forogtPasswordFormSubmitted && lf.email.invalid, 'is-valid': forogtPasswordFormSubmitted && !lf.email.invalid }"
                           required>
                    <div *ngIf="forogtPasswordFormSubmitted && (lf.email.invalid || lf.email.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                      required</div>
                  </div>
                  <div class="d-flex flex-sm-row flex-column justify-content-between">
                    <a [routerLink]="['/pages/login']" class="btn bg-light-primary mb-2 mb-sm-0">Back To Login</a>
                    <button class="btn btn-primary ml-sm-1" (click)="onSubmit()">Recover</button>
                  </div>

                </form>
                <ngx-spinner></ngx-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Forgot Password Ends-->
