<!--Registration Page Starts-->
<section id="addcaisse">
    <div class="row auth-height full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row m-0">
                            <div class="col-lg-12 col-md-12 ">
                                <h4 class="card-title mb-2">Modifier une banque</h4>
                                <p>Veuillez remplir ce formulaire.</p>
                                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isSignUpFailed" (close)="isSignUpFailed = false">
                                    <div class="alert-icon-left">
                                        <i class="ft-thumbs-down mr-2"></i>
                                        <span>{{errorMessage}}</span>
                                    </div>
                                </ngb-alert>
                                <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSuccessful" (close)="isSuccessful = false">
                                    <div class="alert-icon-left">
                                        <i class="ft-thumbs-up mr-2"></i>
                                        <span>banque modifiée avec succes !</span>
                                    </div>
                                </ngb-alert>
                                <ngx-spinner></ngx-spinner>
                                <form [formGroup]="banqueForm">
                                    <div class="form-group">
                                        <input type="text" formControlName="nom" class="form-control mb-2" placeholder="Nom de la banque"
                                               [ngClass]="{ 'is-invalid': banqueFormSubmitted && rf.nom.invalid, 'is-valid': banqueFormSubmitted && !rf.nom.invalid }"
                                               required>
                                        <div *ngIf="banqueFormSubmitted && (rf.nom.invalid || rf.nom.errors?.required)"
                                             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="adresse" class="form-control mb-2" placeholder="Adresse"
                                               [ngClass]="{ 'is-invalid': banqueFormSubmitted && rf.adresse.invalid, 'is-valid': banqueFormSubmitted && !rf.adresse.invalid }"
                                               required>
                                        <div *ngIf="banqueFormSubmitted && (rf.adresse.invalid || rf.adresse.errors?.required)"
                                             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="telephone" class="form-control mb-2" placeholder="Telephone"
                                               [ngClass]="{ 'is-invalid': banqueFormSubmitted && rf.telephone.invalid, 'is-valid': banqueFormSubmitted && !rf.telephone.invalid }"
                                               required>
                                        <div *ngIf="banqueFormSubmitted && (rf.telephone.invalid || rf.telephone.errors?.required)"
                                             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" formControlName="solde" class="form-control mb-2" placeholder="Solde"
                                               [ngClass]="{ 'is-invalid': banqueFormSubmitted && rf.solde.invalid, 'is-valid': banqueFormSubmitted && !rf.solde.invalid }"
                                               required>
                                        <div *ngIf="banqueFormSubmitted && (rf.solde.invalid || rf.solde.errors?.required)"
                                             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
                                    </div>

                                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                                        <a class="btn btn-primary" (click)="onSubmit()">Modifier</a>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Registration Page Ends-->
