<!--Registration Page Starts-->
<section id="regestration">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/register.png" alt="" class="img-fluid" width="350" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="card-title mb-2">Create Account</h4>
                <p>Fill the below form to create a new account.</p>
                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isSignUpFailed" (close)="isSignUpFailed = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-down mr-2"></i>
                    <span>{{errorMessage}}</span>
                  </div>
                </ngb-alert>
                <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSuccessful" (close)="isSuccessful = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-up mr-2"></i>
                    <span>Vous etes inscrit avec succes !</span>
                  </div>
                </ngb-alert>
                <ngx-spinner></ngx-spinner>
                <form [formGroup]="registerForm">
                  <div class="form-group">
                    <input type="text" formControlName="username" class="form-control mb-2" placeholder="Username"
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.username.invalid, 'is-valid': registerFormSubmitted && !rf.username.invalid }"
                           required>
                    <div *ngIf="registerFormSubmitted && (rf.username.invalid || rf.username.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Username is
                      required</div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="firstname" class="form-control mb-2" placeholder="Firstname"
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.firstname.invalid, 'is-valid': registerFormSubmitted && !rf.firstname.invalid }"
                           required>
                    <div *ngIf="registerFormSubmitted && (rf.firstname.invalid || rf.firstname.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Firstname is
                      required</div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="lastname" class="form-control mb-2" placeholder="Lastname"
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.lastname.invalid, 'is-valid': registerFormSubmitted && !rf.lastname.invalid }"
                           required>
                    <div *ngIf="registerFormSubmitted && (rf.lastname.invalid || rf.lastname.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Lastname is
                      required</div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password"
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.password.invalid, 'is-valid': registerFormSubmitted && !rf.password.invalid }"
                           required>
                    <div *ngIf="registerFormSubmitted && (rf.password.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Password is
                      required
                    </div>
                    <div *ngIf="registerFormSubmitted && (!rf.password.errors?.required && rf.password.errors?.minlength)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Password must be
                      at least 6 characters
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control mb-2"
                           placeholder="Confirm Password"
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.confirmPassword.invalid, 'is-valid': registerFormSubmitted && !rf.confirmPassword.invalid }"
                           required>
                    <div
                      *ngIf="registerFormSubmitted && (rf.confirmPassword.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Confirm Password is
                      required
                    </div>
                    <div *ngIf="registerFormSubmitted && (rf.confirmPassword.errors?.mustMatch)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Passwords must
                      match
                    </div>
                    <fieldset class="form-group">
                      <div class="custom-file">
                        <input type="file" (change)="selectFile($event)" formControlName="image" class="custom-file-input" id="inputGroupFile01" placeholder="Choose Your Image"
                               [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.image.invalid, 'is-valid': registerFormSubmitted && !rf.image.invalid }">
                        <label class="custom-file-label" for="inputGroupFile01">Choose Your Image</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="form-group">
                    <div class="checkbox auth-checkbox  ">
                      <input type="checkbox" id="auth-login" formControlName="acceptTerms" class="form-control">
                      <label for="auth-login"><span class="font-small-2 mb-3 font-weight-normal">I accept the terms & conditions</span></label>
                      <div *ngIf="registerFormSubmitted && (rf.acceptTerms.invalid || rf.acceptTerms.errors?.required)"
                           class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Accept Ts & Cs is required
                      </div>
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col-lg-6 col-md-6 "></div>
                    <div class="col-lg-6 col-md-6 ">
                      <a class="btn btn-primary" style="float: right;" (click)="onSubmit()">Register</a>
                    </div>
                  </div>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
