
<div class="container-fluid">
  <div class="header-body">
    <!-- Card stats -->

    <div class="row">
      <div class="col-xl-3 col-lg-6">

      </div>
      <div class="col-xl-3 col-lg-6">

      </div>
      <div class="col-xl-3 col-lg-6">

      </div>
      <div class="col-xl-3 col-lg-6">

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSuccessful" (close)="isSuccessful = false">
        <div class="alert-icon-left">
          <i class="ft-thumbs-up mr-2"></i>
          <span>{{message}}</span>
        </div>
      </ngb-alert>
      <a class="btn btn-primary mb-3" *ngIf="access?.ajouter" (click)="open(modalContent)">Importer</a>
      <a class="btn btn-primary mb-3" *ngIf="access?.ajouter" (click)="open(modalContent3)">Ajouter</a>
      <div class="card shadow border-0 p-3">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="startDate">Start Date</label>
            <input id="startDate" class="form-control" type="date" (change)="onStartDateChange($event)" placeholder="Start Date">
          </div>
          <div class="col-md-6">
            <label for="endDate">End Date</label>
            <input id="endDate" class="form-control" type="date" (change)="onEndDateChange($event)" placeholder="End Date">
          </div>
        </div>
        <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="source" (custom)="onclicktable($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>

<style>
  .form-control {
    max-width: 300px;
  }
</style>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Importer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSucces" (close)="isSucces = false">
      <div class="alert-icon-left">
        <i class="ft-thumbs-up mr-2"></i>
        <span>{{message}}</span>
      </div>
    </ngb-alert>
    <p>Entrer un interval de date pour importer les reglements des clients</p>
    <form [formGroup]="entrepriseForm">
      <div class="form-group">
        <input type="date" formControlName="datedebut" class="form-control mb-2" placeholder="Date de debut"
               [ngClass]="{ 'is-invalid': entrepriseFormSubmitted && lf.datedebut.invalid, 'is-valid': entrepriseFormSubmitted && !lf.datedebut.invalid }"
               required>
        <div *ngIf="entrepriseFormSubmitted && (lf.datedebut.invalid || lf.datedebut.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
      </div>
      <div class="form-group">
        <input type="date" formControlName="datefin" class="form-control mb-2" placeholder="Matricule Fiscale"
               [ngClass]="{ 'is-invalid': entrepriseFormSubmitted && lf.datefin.invalid, 'is-valid': entrepriseFormSubmitted && !lf.datefin.invalid }"
               required>
        <div *ngIf="entrepriseFormSubmitted && (lf.datefin.invalid || lf.datefin.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
      </div>

<ngx-spinner></ngx-spinner>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="importer()">Importer</button>
      </div>

    </form>
  </div>

</ng-template>

<ng-template #modalContent3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ajouter un reglement </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSucces" (close)="isSucces = false">
      <div class="alert-icon-left">
        <i class="ft-thumbs-up mr-2"></i>
        <span>{{message}}</span>
      </div>
    </ngb-alert>
    <p>Veuillez remplir ce formulaire</p>
    <form [formGroup]="alimentationForm">
      <div class="form-group">
        <ng-select [items]="TypeReg" bindLabel="type" placeholder="choisir un Type" bindValue="type" formControlName="type" >
        </ng-select>
        <div *ngIf="alimentationFormubmitted && (rf.type.invalid || rf.type.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Type is
          required</div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="reference" class="form-control mb-2" placeholder="Reference">
      </div>
      <div class="form-group">
        <input type="text" formControlName="banque" class="form-control mb-2" placeholder="Banque">
      </div>
      <div class="form-group">
        <input type="text" formControlName="numpiece" class="form-control mb-2" placeholder="Numero">

      </div>
      <div class="form-group">
        <label>Date d'echéance</label>
        <input type="Date" formControlName="dateEcheance" class="form-control mb-2" placeholder="Date d'Echeance"
               [ngClass]="{ 'is-invalid': alimentationFormubmitted && rf.dateEcheance.invalid, 'is-valid': alimentationFormubmitted && !rf.dateEcheance.invalid }"
               required>
        <div *ngIf="alimentationFormubmitted && (rf.dateEcheance.invalid || rf.dateEcheance.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="solde" class="form-control mb-2" placeholder="Solde"
               [ngClass]="{ 'is-invalid': alimentationFormubmitted && rf.solde.invalid, 'is-valid': alimentationFormubmitted && !rf.solde.invalid }"
               required>
        <div *ngIf="alimentationFormubmitted && (rf.solde.invalid || rf.solde.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="soldedev" class="form-control mb-2" placeholder="Solde en devise"></div>
      <div class="form-group">
        <ng-select [items]="client" bindLabel="nom" placeholder="choisir un client" bindValue="code" formControlName="idclient" >
        </ng-select>
        <div *ngIf="alimentationFormubmitted && (rf.idclient.invalid || rf.idclient.errors?.required)"
             class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Client is
          required</div>
      </div>
      <div class="form-group">
        <div class="checkbox auth-checkbox  ">
          <input type="checkbox" id="rs" formControlName="rs" class="form-control">
          <label for="rs"><span class="font-small-2 mb-3 font-weight-normal">RS</span></label>
        </div>
      </div>
      <ngx-spinner></ngx-spinner>
      <div class="form-group">
        <ng-select [items]="rs" bindLabel="pourcentage" placeholder="choisir un pourcentage" bindValue="pourcentage" formControlName="percentageRs" >
        </ng-select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">ajouter</button>
      </div>

    </form>
  </div>

</ng-template>


