<!--Registration Page Starts-->
<section id="addimputation">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body">
            <div class="row m-0">
              <div class="col-lg-12 col-md-12 ">
                <h4 class="card-title mb-2">Ajouter une imputation</h4>
                <p>Veuillez remplir ce formulaire.</p>
                <ngb-alert type="danger" class="mb-2" [dismissible]="false" *ngIf="isSignUpFailed" (close)="isSignUpFailed = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-down mr-2"></i>
                    <span>{{errorMessage}}</span>
                  </div>
                </ngb-alert>
                <ngb-alert type="success" class="mb-2" [dismissible]="false" *ngIf="isSuccessful" (close)="isSuccessful = false">
                  <div class="alert-icon-left">
                    <i class="ft-thumbs-up mr-2"></i>
                    <span>imputation ajoutée avec succes !</span>
                  </div>
                </ngb-alert>
                <ngx-spinner></ngx-spinner>
                <form [formGroup]="imputationForm">
                  <div class="form-group">
                    <input type="number" formControlName="montant" class="form-control mb-2" placeholder="Monatant à regler"
                           [ngClass]="{ 'is-invalid': imputationFormSubmitted && rf.montant.invalid, 'is-valid': imputationFormSubmitted && !rf.montant.invalid }"
                           required>
                    <div *ngIf="imputationFormSubmitted && (rf.montant.invalid || rf.montant.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Champ obligatoire</div>
                  </div>
                  <div class="form-group">
                    <ng-select [items]="facture" bindLabel="id" placeholder="choisir un facture" bindValue="id" formControlName="piece" >
                    </ng-select>
                    <div *ngIf="imputationFormSubmitted && (rf.piece.invalid || rf.piece.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Facture is
                      required</div>
                  </div>
                  <div class="form-group">
                    <ng-select [items]="caisse" bindLabel="libelle" placeholder="choisir une caisse" bindValue="id" formControlName="idcaisse" >
                    </ng-select>
                    <div *ngIf="imputationFormSubmitted && (rf.idcaisse.invalid || rf.idcaisse.errors?.required)"
                         class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Caisse is
                      required</div>
                  </div>

                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <a class="btn btn-primary" (click)="onSubmit()">ajouter</a>
                  </div>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
