

    .ng2-smart-table {
      table {
        tbody {
          tr {
            td:nth-child(1) {
              background-color: #1644c4; /* Couleur pour la première colonne */
              color: #333; /* Couleur du texte */
            }
          }
        }
      }
    }


